@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@theme {
  --color-blue-bg: #09093D;
}

body {
  background: #000524;
  background: linear-gradient(90deg,rgba(0, 5, 36, 1) 0%, rgba(11, 20, 56, 1) 55%, rgba(4, 11, 36, 1) 100%);
}

.jb-mono {
  font-family: "JetBrains Mono", sans-serif;
}

.tab-header {
  @apply cursor-pointer border border-white p-2;
}

.selected {
  @apply bg-white text-blue-bg;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
